---
http_interactions:
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections?include_tags=org.ceos.wgiss.cwic.granules.prod,org.geoss.geoss_data-core&keyword=AIRSAR_TOP_DEM
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - cmr_csw
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/iso19115+xml; charset=utf-8
      Cmr-Hits:
      - '1'
      Cmr-Took:
      - '68'
      Cmr-Request-Id:
      - f71c2395-951d-4eb0-a4b6-396da3cb876b
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><results><hits>1</hits><took>61</took><result concept-id="C179001730-ASF" revision-id="331" format="application/iso19115+xml">
        <gmi:MI_Metadata xmlns:gmi="http://www.isotc211.org/2005/gmi"
                         xmlns:gco="http://www.isotc211.org/2005/gco"
                         xmlns:gmd="http://www.isotc211.org/2005/gmd"
                         xmlns:gmx="http://www.isotc211.org/2005/gmx"
                         xmlns:gsr="http://www.isotc211.org/2005/gsr"
                         xmlns:gss="http://www.isotc211.org/2005/gss"
                         xmlns:gts="http://www.isotc211.org/2005/gts"
                         xmlns:srv="http://www.isotc211.org/2005/srv"
                         xmlns:gml="http://www.opengis.net/gml/3.2"
                         xmlns:xlink="http://www.w3.org/1999/xlink"
                         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                         xmlns:swe="http://schemas.opengis.net/sweCommon/2.0/"
                         xmlns:eos="http://earthdata.nasa.gov/schema/eos"
                         xmlns:xs="http://www.w3.org/2001/XMLSchema"><!--Other Properties, all:41, coi:0,ii:0,si:0,pli:0,pri:0,qi:0,gi:3,ci:0,dk:1,pcc:0,icc:0,scc:0-->
           <gmd:fileIdentifier>
              <gco:CharacterString>gov.nasa.echo:AIRSAR_TOPSAR_DEM</gco:CharacterString>
           </gmd:fileIdentifier>
           <gmd:language>
              <gco:CharacterString>eng</gco:CharacterString>
           </gmd:language>
           <gmd:characterSet>
              <gmd:MD_CharacterSetCode codeList="http://www.ngdc.noaa.gov/metadata/published/xsd/schema/resources/Codelist/gmxCodelists.xml#MD_CharacterSetCode"
                                       codeListValue="utf8">utf8</gmd:MD_CharacterSetCode>
           </gmd:characterSet>
           <gmd:hierarchyLevel>
              <gmd:MD_ScopeCode codeList="http://www.ngdc.noaa.gov/metadata/published/xsd/schema/resources/Codelist/gmxCodelists.xml#MD_ScopeCode"
                                codeListValue="series">series</gmd:MD_ScopeCode>
           </gmd:hierarchyLevel>
           <gmd:contact>
              <gmd:CI_ResponsibleParty>
                 <gmd:organisationName>
                    <gco:CharacterString>Alaska Satellite Facility</gco:CharacterString>
                 </gmd:organisationName>
                 <gmd:role>
                    <gmd:CI_RoleCode codeList="http://www.ngdc.noaa.gov/metadata/published/xsd/schema/resources/Codelist/gmxCodelists.xml#CI_RoleCode"
                                     codeListValue="pointOfContact">pointOfContact</gmd:CI_RoleCode>
                 </gmd:role>
              </gmd:CI_ResponsibleParty>
           </gmd:contact>
           <gmd:dateStamp>
              <gco:DateTime>2016-05-31T10:29:19.967-04:00</gco:DateTime>
           </gmd:dateStamp>
           <gmd:metadataStandardName>
              <gco:CharacterString>ISO 19115-2 Geographic Information - Metadata Part 2 Extensions for imagery and gridded data</gco:CharacterString>
           </gmd:metadataStandardName>
           <gmd:metadataStandardVersion>
              <gco:CharacterString>ISO 19115-2:2009(E)</gco:CharacterString>
           </gmd:metadataStandardVersion>
           <gmd:referenceSystemInfo>
              <gmd:MD_ReferenceSystem>
                 <gmd:referenceSystemIdentifier>
                    <gmd:RS_Identifier>
                       <gmd:code>
                          <gco:CharacterString>GEODETIC</gco:CharacterString>
                       </gmd:code>
                    </gmd:RS_Identifier>
                 </gmd:referenceSystemIdentifier>
              </gmd:MD_ReferenceSystem>
           </gmd:referenceSystemInfo>
           <gmd:identificationInfo>
              <gmd:MD_DataIdentification>
                 <gmd:citation>
                    <gmd:CI_Citation>
                       <gmd:title>
                          <gco:CharacterString>AIRSAR_TOP_DEM &gt; AIRSAR topographic SAR digital elevation model product</gco:CharacterString>
                       </gmd:title>
                       <gmd:date>
                          <gmd:CI_Date>
                             <gmd:date>
                                <gco:DateTime>2012-02-20T20:04:53Z</gco:DateTime>
                             </gmd:date>
                             <gmd:dateType>
                                <gmd:CI_DateTypeCode codeList="http://www.ngdc.noaa.gov/metadata/published/xsd/schema/resources/Codelist/gmxCodelists.xml#CI_DateTypeCode"
                                                     codeListValue="revision">revision</gmd:CI_DateTypeCode>
                             </gmd:dateType>
                          </gmd:CI_Date>
                       </gmd:date>
                       <gmd:date>
                          <gmd:CI_Date>
                             <gmd:date>
                                <gco:DateTime>2012-02-20T20:04:10Z</gco:DateTime>
                             </gmd:date>
                             <gmd:dateType>
                                <gmd:CI_DateTypeCode codeList="http://www.ngdc.noaa.gov/metadata/published/xsd/schema/resources/Codelist/gmxCodelists.xml#CI_DateTypeCode"
                                                     codeListValue="creation">creation</gmd:CI_DateTypeCode>
                             </gmd:dateType>
                          </gmd:CI_Date>
                       </gmd:date>
                       <gmd:edition>
                          <gco:CharacterString>1</gco:CharacterString>
                       </gmd:edition>
                       <gmd:identifier>
                          <gmd:MD_Identifier>
                             <gmd:code>
                                <gco:CharacterString>AIRSAR_TOP_DEM</gco:CharacterString>
                             </gmd:code>
                             <gmd:description>
                                <gco:CharacterString>AIRSAR topographic SAR digital elevation model product</gco:CharacterString>
                             </gmd:description>
                          </gmd:MD_Identifier>
                       </gmd:identifier>
                       <gmd:otherCitationDetails>
                          <gco:CharacterString/>
                       </gmd:otherCitationDetails>
                    </gmd:CI_Citation>
                 </gmd:citation>
                 <gmd:abstract>
                    <gco:CharacterString>AIRSAR topographic SAR digital elevation model product</gco:CharacterString>
                 </gmd:abstract>
                 <gmd:purpose gco:nilReason="missing"/>
                 <gmd:pointOfContact>
                    <gmd:CI_ResponsibleParty>
                       <gmd:organisationName>
                          <gco:CharacterString>Alaska Satellite Facility</gco:CharacterString>
                       </gmd:organisationName>
                       <gmd:role>
                          <gmd:CI_RoleCode codeList="http://www.ngdc.noaa.gov/metadata/published/xsd/schema/resources/Codelist/gmxCodelists.xml#CI_RoleCode"
                                           codeListValue="pointOfContact">pointOfContact</gmd:CI_RoleCode>
                       </gmd:role>
                    </gmd:CI_ResponsibleParty>
                 </gmd:pointOfContact>
                 <gmd:descriptiveKeywords>
                    <gmd:MD_Keywords>
                       <gmd:keyword>
                          <gco:CharacterString/>
                       </gmd:keyword>
                       <gmd:thesaurusName>
                          <gmd:CI_Citation>
                             <gmd:title>
                                <gco:CharacterString>NASA ECHO Additional Attributes as descriptiveKeywords</gco:CharacterString>
                             </gmd:title>
                             <gmd:date gco:nilReason="inapplicable"/>
                          </gmd:CI_Citation>
                       </gmd:thesaurusName>
                    </gmd:MD_Keywords>
                 </gmd:descriptiveKeywords>
                 <gmd:descriptiveKeywords>
                    <gmd:MD_Keywords>
                       <gmd:keyword>
                          <gco:CharacterString>EARTH SCIENCE&gt;LAND SURFACE&gt;LAND USE/LAND COVER&gt;LAND RESOURCES&gt;NONE&gt;NONE&gt;NONE</gco:CharacterString>
                       </gmd:keyword>
                       <gmd:type>
                          <gmd:MD_KeywordTypeCode codeList="http://www.ngdc.noaa.gov/metadata/published/xsd/schema/resources/Codelist/gmxCodelists.xml#MD_KeywordTypeCode"
                                                  codeListValue="theme">theme</gmd:MD_KeywordTypeCode>
                       </gmd:type>
                       <gmd:thesaurusName>
                          <gmd:CI_Citation>
                             <gmd:title>
                                <gco:CharacterString>NASA/GCMD Science Keywords</gco:CharacterString>
                             </gmd:title>
                             <gmd:date gco:nilReason="unknown"/>
                             <gmd:citedResponsibleParty>
                                <gmd:CI_ResponsibleParty>
                                   <gmd:organisationName>
                                      <gco:CharacterString>NASA</gco:CharacterString>
                                   </gmd:organisationName>
                                   <gmd:positionName>
                                      <gco:CharacterString>GCMD User Support Office</gco:CharacterString>
                                   </gmd:positionName>
                                   <gmd:contactInfo>
                                      <gmd:CI_Contact>
                                         <gmd:address>
                                            <gmd:CI_Address>
                                               <gmd:electronicMailAddress>
                                                  <gco:CharacterString>gcmduso@gcmd.gsfc.nasa.gov</gco:CharacterString>
                                               </gmd:electronicMailAddress>
                                            </gmd:CI_Address>
                                         </gmd:address>
                                         <gmd:onlineResource>
                                            <gmd:CI_OnlineResource>
                                               <gmd:linkage>
                                                  <gmd:URL>http://gcmd.nasa.gov/MailComments/MailComments.jsf?rcpt=gcmduso</gmd:URL>
                                               </gmd:linkage>
                                               <gmd:name>
                                                  <gco:CharacterString>GCMD Feedback Form</gco:CharacterString>
                                               </gmd:name>
                                               <gmd:description>
                                                  <gco:CharacterString>Have a Comment for the GCMD?</gco:CharacterString>
                                               </gmd:description>
                                               <gmd:function>
                                                  <gmd:CI_OnLineFunctionCode codeList="http://www.ngdc.noaa.gov/metadata/published/xsd/schema/resources/Codelist/gmxCodelists.xml#CI_OnLineFunctionCode"
                                                                             codeListValue="information">information</gmd:CI_OnLineFunctionCode>
                                               </gmd:function>
                                            </gmd:CI_OnlineResource>
                                         </gmd:onlineResource>
                                    [...]
