---
http_interactions:
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections?include_tags=org.ceos.wgiss.cwic.granules.prod,org.geoss.geoss_data-core&keyword=MOD10A1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - cmr_csw
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/iso19115+xml; charset=utf-8
      Cmr-Hits:
      - '2'
      Cmr-Took:
      - '51'
      Cmr-Request-Id:
      - b8ffbebe-7d6c-4dcb-a773-7caf26f6265b
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><results><hits>1</hits><took>47</took><result concept-id="C92711294-NSIDC_ECS" revision-id="77" format="application/iso19115+xml">
        <gmi:MI_Metadata xmlns:gmi="http://www.isotc211.org/2005/gmi"
                         xmlns:gco="http://www.isotc211.org/2005/gco"
                         xmlns:gmd="http://www.isotc211.org/2005/gmd"
                         xmlns:gmx="http://www.isotc211.org/2005/gmx"
                         xmlns:gsr="http://www.isotc211.org/2005/gsr"
                         xmlns:gss="http://www.isotc211.org/2005/gss"
                         xmlns:gts="http://www.isotc211.org/2005/gts"
                         xmlns:srv="http://www.isotc211.org/2005/srv"
                         xmlns:gml="http://www.opengis.net/gml/3.2"
                         xmlns:xlink="http://www.w3.org/1999/xlink"
                         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                         xmlns:swe="http://schemas.opengis.net/sweCommon/2.0/"
                         xmlns:eos="http://earthdata.nasa.gov/schema/eos"
                         xmlns:xs="http://www.w3.org/2001/XMLSchema"><!--Other Properties, all:9, coi:5,ii:0,si:0,pli:0,pri:1,qi:0,gi:3,ci:0,dk:0,pcc:1,icc:0,scc:0-->
           <gmd:fileIdentifier>
              <gco:CharacterString>gov.nasa.echo:MODIS/Terra Snow Cover Daily L3 Global 500m SIN Grid V005</gco:CharacterString>
           </gmd:fileIdentifier>
           <gmd:language>
              <gco:CharacterString>eng</gco:CharacterString>
           </gmd:language>
           <gmd:characterSet>
              <gmd:MD_CharacterSetCode codeList="http://www.ngdc.noaa.gov/metadata/published/xsd/schema/resources/Codelist/gmxCodelists.xml#MD_CharacterSetCode"
                                       codeListValue="utf8">utf8</gmd:MD_CharacterSetCode>
           </gmd:characterSet>
           <gmd:hierarchyLevel>
              <gmd:MD_ScopeCode codeList="http://www.ngdc.noaa.gov/metadata/published/xsd/schema/resources/Codelist/gmxCodelists.xml#MD_ScopeCode"
                                codeListValue="series">series</gmd:MD_ScopeCode>
           </gmd:hierarchyLevel>
           <gmd:contact>
              <gmd:CI_ResponsibleParty>
                 <gmd:organisationName>
                    <gco:CharacterString>NSIDC</gco:CharacterString>
                 </gmd:organisationName>
                 <gmd:role>
                    <gmd:CI_RoleCode codeList="http://www.ngdc.noaa.gov/metadata/published/xsd/schema/resources/Codelist/gmxCodelists.xml#CI_RoleCode"
                                     codeListValue="pointOfContact">pointOfContact</gmd:CI_RoleCode>
                 </gmd:role>
              </gmd:CI_ResponsibleParty>
           </gmd:contact>
           <gmd:dateStamp>
              <gco:DateTime>2014-06-13T00:00:00Z</gco:DateTime>
           </gmd:dateStamp>
           <gmd:metadataStandardName>
              <gco:CharacterString>ISO 19115-2 Geographic Information - Metadata Part 2 Extensions for imagery and gridded data</gco:CharacterString>
           </gmd:metadataStandardName>
           <gmd:metadataStandardVersion>
              <gco:CharacterString>ISO 19115-2:2009(E)</gco:CharacterString>
           </gmd:metadataStandardVersion>
           <gmd:referenceSystemInfo>
              <gmd:MD_ReferenceSystem>
                 <gmd:referenceSystemIdentifier>
                    <gmd:RS_Identifier>
                       <gmd:code>
                          <gco:CharacterString>CARTESIAN</gco:CharacterString>
                       </gmd:code>
                    </gmd:RS_Identifier>
                 </gmd:referenceSystemIdentifier>
              </gmd:MD_ReferenceSystem>
           </gmd:referenceSystemInfo>
           <gmd:identificationInfo>
              <gmd:MD_DataIdentification>
                 <gmd:citation>
                    <gmd:CI_Citation>
                       <gmd:title>
                          <gco:CharacterString>MOD10A1 &gt; MODIS/Terra Snow Cover Daily L3 Global 500m SIN Grid</gco:CharacterString>
                       </gmd:title>
                       <gmd:date>
                          <gmd:CI_Date>
                             <gmd:date>
                                <gco:DateTime>2014-10-30T13:57:31.002Z</gco:DateTime>
                             </gmd:date>
                             <gmd:dateType>
                                <gmd:CI_DateTypeCode codeList="http://www.ngdc.noaa.gov/metadata/published/xsd/schema/resources/Codelist/gmxCodelists.xml#CI_DateTypeCode"
                                                     codeListValue="revision">revision</gmd:CI_DateTypeCode>
                             </gmd:dateType>
                          </gmd:CI_Date>
                       </gmd:date>
                       <gmd:date>
                          <gmd:CI_Date>
                             <gmd:date>
                                <gco:DateTime>2005-01-11T10:53:26.893Z</gco:DateTime>
                             </gmd:date>
                             <gmd:dateType>
                                <gmd:CI_DateTypeCode codeList="http://www.ngdc.noaa.gov/metadata/published/xsd/schema/resources/Codelist/gmxCodelists.xml#CI_DateTypeCode"
                                                     codeListValue="creation">creation</gmd:CI_DateTypeCode>
                             </gmd:dateType>
                          </gmd:CI_Date>
                       </gmd:date>
                       <gmd:edition>
                          <gco:CharacterString>5</gco:CharacterString>
                       </gmd:edition>
                       <gmd:identifier>
                          <gmd:MD_Identifier>
                             <gmd:code>
                                <gco:CharacterString>MOD10A1</gco:CharacterString>
                             </gmd:code>
                             <gmd:description>
                                <gco:CharacterString>MODIS/Terra Snow Cover Daily L3 Global 500m SIN Grid</gco:CharacterString>
                             </gmd:description>
                          </gmd:MD_Identifier>
                       </gmd:identifier>
                       <gmd:identifier>
                          <gmd:MD_Identifier>
                             <gmd:code>
                                <gco:CharacterString>MOD10A1V5</gco:CharacterString>
                             </gmd:code>
                             <gmd:codeSpace>
                                <gco:CharacterString>gov.nasa.gcmd</gco:CharacterString>
                             </gmd:codeSpace>
                             <gmd:description>
                                <gco:CharacterString>DIFEntryId</gco:CharacterString>
                             </gmd:description>
                          </gmd:MD_Identifier>
                       </gmd:identifier>
                       <gmd:citedResponsibleParty>
                          <gmd:CI_ResponsibleParty>
                             <gmd:organisationName>
                                <gco:CharacterString>MODIS Science Data Support Team</gco:CharacterString>
                             </gmd:organisationName>
                             <gmd:positionName gco:nilReason="missing"/>
                             <gmd:contactInfo>
                                <gmd:CI_Contact>
                                   <gmd:phone>
                                      <gmd:CI_Telephone>
                                         <gmd:voice>
                                            <gco:CharacterString>301-614-5515</gco:CharacterString>
                                         </gmd:voice>
                                      </gmd:CI_Telephone>
                                   </gmd:phone>
                                   <gmd:address>
                                      <gmd:CI_Address>
                                         <gmd:deliveryPoint>
                                            <gco:CharacterString>NASA/GSFC Code 922</gco:CharacterString>
                                         </gmd:deliveryPoint>
                                         <gmd:city>
                                            <gco:CharacterString>GREENBELT</gco:CharacterString>
                                         </gmd:city>
                                         <gmd:administrativeArea>
                                            <gco:CharacterString>MD</gco:CharacterString>
                                         </gmd:administrativeArea>
                                         <gmd:postalCode>
                                            <gco:CharacterString>20771</gco:CharacterString>
                                         </gmd:postalCode>
                                         <gmd:country>
                                            <gco:CharacterString>USA</gco:CharacterString>
                                         </gmd:country>
                                         <gmd:electronicMailAddress>
                                            <gco:CharacterString>Edward.J.Masuoka@nasa.gov</gco:CharacterString>
                                         </gmd:electronicMailAddress>
                                      </gmd:CI_Address>
                                   </gmd:address>
                                   <gmd:hoursOfService gco:nilReason="missing"/>
                                   <gmd:contactInstructions>
                                      <gco:CharacterString>Contact for data content concerns</gco:CharacterString>
                                   </gmd:contactInstructions>
                                </gmd:CI_Contact>
                             </gmd:contactInfo>
                             <gmd:role>
                                <gmd:CI_RoleCode codeList="http://www.ngdc.noaa.gov/metadata/published/xsd/schema/resources/Codelist/gmxCodelists.xml#CI_RoleCode"
                                                 codeListValue="originator">originator</gmd:CI_RoleCode>
                             </gmd:role>
                          </gmd:CI_ResponsibleParty>
                       </gmd:citedResponsibleParty>
                       <gmd:otherCitationDetails>
                          <gco:CharacterString>This data set was provided by the NASA EOS Project.</gco:CharacterString>
                       </gmd:otherCitationDetails>
                    </gmd:CI_Citation>
                 </gmd:citation>
                 <gmd:abstract>
                    <gco:CharacterString>MODIS/Terra Snow Cover Daily L3 Global 500m SIN Grid Version Description: Collection Version 5 Processing and Reprocessing</gco:CharacterString>
                 </gmd:abstract>
                 <gmd:purpose>
                    <gco:CharacterString>Science Research</gco:CharacterString>
                 </gmd:purpose>
                 <gmd:status>
                    <gmd:MD_ProgressCode codeList="http://www.ngdc.noaa.gov/metadata/published/xsd/schema/resources/Codelist/gmxCodelists.xml#MD_ProgressCode"
                                         codeListValue="In Work">In Work</gmd:MD_ProgressCode>
                 </gmd:status>
                 <gmd:pointOfContact>
                    <gmd:CI_ResponsibleParty>
                       <gmd:organisationName>
                          <gco:CharacterString>NSIDC</gco:CharacterString>
                       </gmd:organisationName>
                       <gmd:role>
                          <gmd:CI_RoleCode codeList="http://www.ngdc.noaa.gov/metadata/published/xsd/schema/resources/Codelist/gmxCodelists.xml#CI_RoleCode"
                                           codeListValue="pointOfContact">pointOfContact</gmd:CI_RoleCode>
                       </gmd:role>
                    </gmd:CI_ResponsibleParty>
                 </gmd:pointOfContact>
                 <gmd:resourceMaintenance>
                    <gmd:MD_MaintenanceInformation>
                       <gmd:maintenanceAndUpdateFrequency>
                          <gmd:MD_MaintenanceFrequencyCode codeList="http://www.ngdc.noaa.gov/metadata/published/xsd/schema/resources/Codelist/gmxCodelists.xml#MD_MaintenanceFrequencyCode"
                                                           codeListValue="As Needed">As Needed</gmd:MD_MaintenanceFrequencyCode>
                       </gmd:maintenanceAndUpdateFrequency>
                    </gmd:MD_MaintenanceInformation>
                 </gmd:resourceMaintenance>
                 <gmd:resourceFormat>
                    <gmd:MD_Format>
                       <gmd:name>
                          <gco:CharacterString>HDF-EOS</gco:CharacterString>
                       </gmd:name>
                       <gmd:version gco:nilReason="unknown"/>
                    </gmd:MD_Format>
                 </gmd:resourceFormat>
                 <gmd:descriptiveKeywords>
                    <gmd:MD_Keywords>
                       <gmd:keyword>
                          <gco:CharacterString>EARTH SCIENCE&gt;CRYOSPHERE&gt;SNOW/ICE&gt;SNOW COVER&gt;NONE&gt;NONE&gt;NONE</gco:CharacterString>
                       </gmd:keyword>
                       <gmd:keyword>
                          <gco:CharacterString>EARTH SCIENCE&gt;CRYOSPHERE&gt;SNOW/ICE&gt;LAKE ICE&gt;NONE&gt;NONE&gt;NONE</gco:CharacterString>
                       </gmd:keyword>
                       <gmd:keyword>
                          <gco:CharacterString>EARTH SCIENCE&gt;HYDROSPHERE&gt;SNOW/ICE&gt;SNOW COVER&gt;NONE&gt;NONE&gt;NONE</gco:CharacterString>
                       </gmd:keyword>
                       <gmd:keyword>
                          <gco:CharacterString>EARTH SCIENCE&gt;HYDROSPHERE&gt;SNOW/ICE&gt;LAKE ICE&gt;NONE&gt;NONE&gt;NONE</gco:CharacterString>
                       </gmd:keyword>
                       <gmd:keyword>
                          <gco:CharacterString>EARTH SCIENCE&gt;CRYOSPHERE&gt;SNOW/ICE&gt;ALBEDO&gt;NONE&gt;NONE&gt;NONE</gco:CharacterString>
                       </gmd:keyword>
                       <gmd:keyword>
                          <gco:CharacterString>EARTH SCIENCE&gt;HYDROSPHERE&gt;SNOW/ICE&gt;ALBEDO&gt;NONE&gt;NONE&gt;NONE</gco:CharacterString>
                       </gmd:keyword>
                       <gmd:type>
                          <gmd:MD_KeywordTypeCode codeList="http://www.ngdc.noaa.gov/metadata/published/xsd/schema/resources/Codelist/gmxCodelists.xml#MD_KeywordTypeCode"
                                                  codeListValue="theme">theme</gmd:MD_KeywordTypeCode>
                       </gmd:type>
                       <gmd:thesaurusName>
                          <gmd:CI_Citation>
                             <gmd:title>
                                <gco:CharacterString>NASA/GCMD Science Keywords</gco:CharacterString>
                             </gmd:title>
                             <gmd:date gco:nilReason="unknown"/>
                             <gmd:citedResponsibleParty>
                                <gmd:CI_ResponsibleParty>
                                   <gmd:organisationName>
                                      <gco:CharacterString>NASA</gco:CharacterString>
                                   </gmd:organisationName>
                                   <gmd:positionName>
                                      <gco:CharacterString>GCMD User Support Office</gco:CharacterString>
                                   </gmd:positionName>
                                   <gmd:contactInfo>
                                      <gmd:CI_Contact>
                                         <gmd:address>
                                            <gmd:CI_Address>
                                               <gmd:electronicMailAddress>
                                                  <gco:CharacterString>gcmduso@gcmd.gsfc.nasa.gov</gco:CharacterString>
                                               </gmd:electronicMailAddress>
                                            </gmd:CI_Address>
                                         </gmd:address>
                                         <gmd:onlineResource>
                                            <gmd:CI_OnlineResource>
                                               <gmd:linkage>
                                                  <gmd:URL>http://gcmd.nasa.gov/MailComments/MailComments.jsf?rcpt=gcmduso</gmd:URL>
                                               </gmd:linkage>
                                               <gmd:name>
                                                  <gco:CharacterString>GCMD Feedback Form</gco:CharacterString>
                                               </gmd:name>
                                               <gmd:description>
                                                  <gco:CharacterString>Have a Comment for the GCMD?</gco:CharacterString>
                                               </gmd:description>
                                               <gmd:function>
                                                  <gmd:CI_OnLineFunctionCode codeList="http://www.ngdc.noaa.gov/metadata/published/xsd/schema/resources/Codelist/gmxCodelists.xml#CI_OnLineFunctionCode"
                                                                             codeListValue="information">information</gmd:CI_OnLineFunctionCode>
                                               </gmd:function>
                                            </gmd:CI_OnlineResource>
                                         </gmd:onlineResource>
                                    [...]
