---
http_interactions:
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections?bounding_box=-180.00,-90.00,180.000,90&include_tags=org.ceos.wgiss.cwic.granules.prod,org.geoss.geoss_data-core
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - cmr_csw
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/iso19115+xml; charset=utf-8
      Cmr-Hits:
      - '2328'
      Cmr-Took:
      - '3006'
      Cmr-Request-Id:
      - 8a6e277b-edb4-48c8-93d5-5d149fc8becf
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><results><hits>2328</hits><took>2965</took><result concept-id="C1000000803-DEV08" revision-id="9" format="application/iso19115+xml">
        <gmi:MI_Metadata xmlns:gmi="http://www.isotc211.org/2005/gmi"
                         xmlns:gco="http://www.isotc211.org/2005/gco"
                         xmlns:gmd="http://www.isotc211.org/2005/gmd"
                         xmlns:gmx="http://www.isotc211.org/2005/gmx"
                         xmlns:gsr="http://www.isotc211.org/2005/gsr"
                         xmlns:gss="http://www.isotc211.org/2005/gss"
                         xmlns:gts="http://www.isotc211.org/2005/gts"
                         xmlns:srv="http://www.isotc211.org/2005/srv"
                         xmlns:gml="http://www.opengis.net/gml/3.2"
                         xmlns:xlink="http://www.w3.org/1999/xlink"
                         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                         xmlns:swe="http://schemas.opengis.net/sweCommon/2.0/"
                         xmlns:eos="http://earthdata.nasa.gov/schema/eos"
                         xmlns:xs="http://www.w3.org/2001/XMLSchema"><!--Other Properties, all:0, coi:0,ii:0,si:0,pli:0,pri:0,qi:0,gi:0,ci:0,dk:0,pcc:0,icc:0,scc:0-->
           <gmd:fileIdentifier>
              <gco:CharacterString>gov.nasa.echo:100m Digital Elevation Model Data V001</gco:CharacterString>
           </gmd:fileIdentifier>
           <gmd:language>
              <gco:CharacterString>eng</gco:CharacterString>
           </gmd:language>
           <gmd:characterSet>
              <gmd:MD_CharacterSetCode codeList="http://www.ngdc.noaa.gov/metadata/published/xsd/schema/resources/Codelist/gmxCodelists.xml#MD_CharacterSetCode"
                                       codeListValue="utf8">utf8</gmd:MD_CharacterSetCode>
           </gmd:characterSet>
           <gmd:hierarchyLevel>
              <gmd:MD_ScopeCode codeList="http://www.ngdc.noaa.gov/metadata/published/xsd/schema/resources/Codelist/gmxCodelists.xml#MD_ScopeCode"
                                codeListValue="series">series</gmd:MD_ScopeCode>
           </gmd:hierarchyLevel>
           <gmd:contact>
              <gmd:CI_ResponsibleParty>
                 <gmd:organisationName>
                    <gco:CharacterString>EDF_DEV08</gco:CharacterString>
                 </gmd:organisationName>
                 <gmd:role>
                    <gmd:CI_RoleCode codeList="http://www.ngdc.noaa.gov/metadata/published/xsd/schema/resources/Codelist/gmxCodelists.xml#CI_RoleCode"
                                     codeListValue="pointOfContact">pointOfContact</gmd:CI_RoleCode>
                 </gmd:role>
              </gmd:CI_ResponsibleParty>
           </gmd:contact>
           <gmd:dateStamp>
              <gco:DateTime>2001-12-06T00:00:00Z</gco:DateTime>
           </gmd:dateStamp>
           <gmd:metadataStandardName>
              <gco:CharacterString>ISO 19115-2 Geographic Information - Metadata Part 2 Extensions for imagery and gridded data</gco:CharacterString>
           </gmd:metadataStandardName>
           <gmd:metadataStandardVersion>
              <gco:CharacterString>ISO 19115-2:2009(E)</gco:CharacterString>
           </gmd:metadataStandardVersion>
           <gmd:spatialRepresentationInfo>
              <gmd:MD_Georeferenceable>
                 <gmd:numberOfDimensions>
                    <gco:Integer>3</gco:Integer>
                 </gmd:numberOfDimensions>
                 <gmd:axisDimensionProperties>
                    <gmd:MD_Dimension>
                       <gmd:dimensionName>
                          <gmd:MD_DimensionNameTypeCode codeList="http://www.ngdc.noaa.gov/metadata/published/xsd/schema/resources/Codelist/gmxCodelists.xml#MD_DimensionNameTypeCode"
                                                        codeListValue="column">column</gmd:MD_DimensionNameTypeCode>
                       </gmd:dimensionName>
                       <gmd:dimensionSize gco:nilReason="unknown"/>
                       <gmd:resolution>
                          <gco:Measure uom="Decimal%20Seconds">3.0</gco:Measure>
                       </gmd:resolution>
                    </gmd:MD_Dimension>
                 </gmd:axisDimensionProperties>
                 <gmd:axisDimensionProperties>
                    <gmd:MD_Dimension>
                       <gmd:dimensionName>
                          <gmd:MD_DimensionNameTypeCode codeList="http://www.ngdc.noaa.gov/metadata/published/xsd/schema/resources/Codelist/gmxCodelists.xml#MD_DimensionNameTypeCode"
                 [...]
