---
http_interactions:
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections?include_tags=org.ceos.wgiss.cwic.granules.prod,org.geoss.geoss_data-core&keyword=DEMO_PROV
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - cmr_csw
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/iso19115+xml; charset=utf-8
      Cmr-Hits:
      - '32'
      Cmr-Took:
      - '518'
      Cmr-Request-Id:
      - fb5956ad-9615-4c38-b856-cedd00987213
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><results><hits>2</hits><took>509</took><result concept-id="C1000000227-DEMO_PROV" revision-id="2" format="application/iso19115+xml">
        <gmi:MI_Metadata xmlns:gmi="http://www.isotc211.org/2005/gmi"
                         xmlns:gco="http://www.isotc211.org/2005/gco"
                         xmlns:gmd="http://www.isotc211.org/2005/gmd"
                         xmlns:gmx="http://www.isotc211.org/2005/gmx"
                         xmlns:gsr="http://www.isotc211.org/2005/gsr"
                         xmlns:gss="http://www.isotc211.org/2005/gss"
                         xmlns:gts="http://www.isotc211.org/2005/gts"
                         xmlns:srv="http://www.isotc211.org/2005/srv"
                         xmlns:gml="http://www.opengis.net/gml/3.2"
                         xmlns:xlink="http://www.w3.org/1999/xlink"
                         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                         xmlns:swe="http://schemas.opengis.net/sweCommon/2.0/"
                         xmlns:eos="http://earthdata.nasa.gov/schema/eos"
                         xmlns:xs="http://www.w3.org/2001/XMLSchema"><!--Other Properties, all:3, coi:0,ii:0,si:0,pli:0,pri:0,qi:0,gi:0,ci:2,dk:1,pcc:0,icc:0,scc:0-->
           <gmd:fileIdentifier>
              <gco:CharacterString>gov.nasa.echo:NRT AMSR2 L2B GLOBAL SWATH GSFC PROFILING ALGORITHM 2010: SURFACE PRECIPITATION, WIND SPEED OVER OCEAN, WATER VAPOR OVER OCEAN AND CLOUD LIQUID WATER OVER OCEAN V0</gco:CharacterString>
           </gmd:fileIdentifier>
           <gmd:language>
              <gco:CharacterString>eng</gco:CharacterString>
           </gmd:language>
           <gmd:characterSet>
              <gmd:MD_CharacterSetCode codeList="http://www.ngdc.noaa.gov/metadata/published/xsd/schema/resources/Codelist/gmxCodelists.xml#MD_CharacterSetCode"
                                       codeListValue="utf8">utf8</gmd:MD_CharacterSetCode>
           </gmd:characterSet>
           <gmd:hierarchyLevel>
              <gmd:MD_ScopeCode codeList="http://www.ngdc.noaa.gov/metadata/published/xsd/schema/resources/Codelist/gmxCodelists.xml#MD_ScopeCode"
                                codeListValue="series">series</gmd:MD_ScopeCode>
           </gmd:hierarchyLevel>
           <gmd:contact>
              <gmd:CI_ResponsibleParty>
                 <gmd:organisationName>
                    <gco:CharacterString>GHRC</gco:CharacterString>
                 </gmd:organisationName>
                 <gmd:role>
                    <gmd:CI_RoleCode codeList="http://www.ngdc.noaa.gov/metadata/published/xsd/schema/resources/Codelist/gmxCodelists.xml#CI_RoleCode"
                                     codeListValue="pointOfContact">pointOfContact</gmd:CI_RoleCode>
                 </gmd:role>
              </gmd:CI_ResponsibleParty>
           </gmd:contact>
           <gmd:dateStamp>
              <gco:DateTime>2016-06-02T08:57:02.914-04:00</gco:DateTime>
           </gmd:dateStamp>
           <gmd:metadataStandardName>
              <gco:CharacterString>ISO 19115-2 Geographic Information - Metadata Part 2 Extensions for imagery and gridded data</gco:CharacterString>
           </gmd:metadataStandardName>
           <gmd:metadataStandardVersion>
              <gco:CharacterString>ISO 19115-2:2009(E)</gco:CharacterString>
           </gmd:metadataStandardVersion>
           <gmd:referenceSystemInfo>
              <gmd:MD_ReferenceSystem>
                 <gmd:referenceSystemIdentifier>
                    <gmd:RS_Identifier>
                       <gmd:code>
                          <gco:CharacterString>CARTESIAN</gco:CharacterString>
                       </gmd:code>
                    </gmd:RS_Identifier>
                 </gmd:referenceSystemIdentifier>
              </gmd:MD_ReferenceSystem>
           </gmd:referenceSystemInfo>
           <gmd:identificationInfo>
              <gmd:MD_DataIdentification>
                 <gmd:citation>
                    <gmd:CI_Citation>
                       <gmd:title>
                          <gco:CharacterString>A2_RainOcn_NRT &gt; NRT AMSR2 L2B GLOBAL SWATH GSFC PROFILING ALGORITHM 2010: SURFACE PRECIPITATION, WIND SPEED OVER OCEAN, WATER VAPOR OVER OCEAN AND CLOUD LIQUID WATER OVER OCEAN</gco:CharacterString>
                       </gmd:title>
                       <gmd:date>
                          <gmd:CI_Date>
                             <gmd:date>
                                <gco:DateTime>2015-03-09T15:35:47Z</gco:DateTime>
                             </gmd:date>
                             <gmd:dateType>
                                <gmd:CI_DateTypeCode codeList="http://www.ngdc.noaa.gov/metadata/published/xsd/schema/resources/Codelist/gmxCodelists.xml#CI_DateTypeCode"
                                                     codeListValue="revision">revision</gmd:CI_DateTypeCode>
                             </gmd:dateType>
                          </gmd:CI_Date>
                       </gmd:date>
                       <gmd:date>
                          <gmd:CI_Date>
                             <gmd:date>
                                <gco:DateTime>2015-01-13T12:13:37Z</gco:DateTime>
                             </gmd:date>
                             <gmd:dateType>
                                <gmd:CI_DateTypeCode codeList="http://www.ngdc.noaa.gov/metadata/published/xsd/schema/resources/Codelist/gmxCodelists.xml#CI_DateTypeCode"
                                                     codeListValue="creation">creation</gmd:CI_DateTypeCode>
                             </gmd:dateType>
                          </gmd:CI_Date>
                       </gmd:date>
                       <gmd:edition>
                          <gco:CharacterString>0</gco:CharacterString>
                       </gmd:edition>
                       <gmd:identifier>
                          <gmd:MD_Identifier>
                             <gmd:code>
                                <gco:CharacterString>A2_RainOcn_NRT</gco:CharacterString>
                             </gmd:code>
                             <gmd:description>
                                <gco:CharacterString>NRT AMSR2 L2B GLOBAL SWATH GSFC PROFILING ALGORITHM 2010: SURFACE PRECIPITATION, WIND SPEED OVER OCEAN, WATER VAPOR OVER OCEAN AND CLOUD LIQUID WATER OVER OCEAN</gco:CharacterString>
                             </gmd:description>
                          </gmd:MD_Identifier>
                       </gmd:identifier>
                       <gmd:identifier>
                          <gmd:MD_Identifier>
                             <gmd:code>
                                <gco:CharacterString>A2_RainOcn_NRT</gco:CharacterString>
                             </gmd:code>
                             <gmd:codeSpace>
                                <gco:CharacterString>gov.nasa.gcmd</gco:CharacterString>
                             </gmd:codeSpace>
                             <gmd:description>
                                <gco:CharacterString>DIFEntryId</gco:CharacterString>
                             </gmd:description>
                          </gmd:MD_Identifier>
                       </gmd:identifier>
                       <gmd:identifier>
                          <gmd:MD_Identifier>
         [...]
