---
http_interactions:
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections?include_tags=org.ceos.wgiss.cwic.granules.prod,org.geoss.geoss_data-core&tag_key=org.ceos.wgiss.cwic.granules.prod
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - cmr_csw
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/iso19115+xml; charset=utf-8
      Cmr-Hits:
      - '1800'
      Cmr-Took:
      - '52'
      Cmr-Request-Id:
      - 8d67c85d-ab4c-4b11-aef3-b1c37594073b
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><results><hits>1800</hits><took>49</took><result
        concept-id=\"C1020-GHRC\" revision-id=\"38\" format=\"application/iso19115+xml\">\n<gmi:MI_Metadata
        xmlns:gmi=\"http://www.isotc211.org/2005/gmi\"\n                 xmlns:gco=\"http://www.isotc211.org/2005/gco\"\n
        \                xmlns:gmd=\"http://www.isotc211.org/2005/gmd\"\n                 xmlns:gmx=\"http://www.isotc211.org/2005/gmx\"\n
        \                xmlns:gsr=\"http://www.isotc211.org/2005/gsr\"\n                 xmlns:gss=\"http://www.isotc211.org/2005/gss\"\n
        \                xmlns:gts=\"http://www.isotc211.org/2005/gts\"\n                 xmlns:srv=\"http://www.isotc211.org/2005/srv\"\n
        \                xmlns:gml=\"http://www.opengis.net/gml/3.2\"\n                 xmlns:xlink=\"http://www.w3.org/1999/xlink\"\n
        \                xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\n
        \                xmlns:swe=\"http://schemas.opengis.net/sweCommon/2.0/\"\n
        \                xmlns:eos=\"http://earthdata.nasa.gov/schema/eos\"\n                 xmlns:xs=\"http://www.w3.org/2001/XMLSchema\"><!--Other
        Properties, all:0, coi:0,ii:0,si:0,pli:0,pri:0,qi:0,gi:0,ci:0,dk:0,pcc:0,icc:0,scc:0--><!--Translated
        from ECHO using ECHOToISO.xsl Version: 1.33-->\n   <gmd:fileIdentifier>\n
        \     <gco:CharacterString>gov.nasa.echo:ACES CONTINUOUS DATA V1</gco:CharacterString>\n
        \  </gmd:fileIdentifier>\n   <gmd:language>\n      <gco:CharacterString>eng</gco:CharacterString>\n
        \  </gmd:language>\n   <gmd:characterSet>\n      <gmd:MD_CharacterSetCode
        codeList=\"http://www.ngdc.noaa.gov/metadata/published/xsd/schema/resources/Codelist/gmxCodelists.xml#MD_CharacterSetCode\"\n
        \                              codeListValue=\"utf8\">utf8</gmd:MD_CharacterSetCode>\n
        \  </gmd:characterSet>\n   <gmd:hierarchyLevel>\n      <gmd:MD_ScopeCode codeList=\"http://www.ngdc.noaa.gov/metadata/published/xsd/schema/resources/Codelist/gmxCodelists.xml#MD_ScopeCode\"\n
        \                       codeListValue=\"series\">series</gmd:MD_ScopeCode>\n
        \  </gmd:hierarchyLevel>\n   <gmd:contact>\n      <gmd:CI_ResponsibleParty>\n
        \        <gmd:organisationName>\n            <gco:CharacterString>NASA/MSFC/GHRC</gco:CharacterString>\n
        \        </gmd:organisationName>\n         <gmd:role>\n            <gmd:CI_RoleCode
        codeList=\"http://www.ngdc.noaa.gov/metadata/published/xsd/schema/resources/Codelist/gmxCodelists.xml#CI_RoleCode\"\n
        \                            codeListValue=\"pointOfContact\">pointOfContact</gmd:CI_RoleCode>\n
        \        </gmd:role>\n      </gmd:CI_ResponsibleParty>\n   </gmd:contact>\n
        \  <gmd:dateStamp>\n      <gco:DateTime>2016-08-11T11:30:14.945-04:00</gco:DateTime>\n
        \  </gmd:dateStamp>\n   <gmd:metadataStandardName>\n      <gco:CharacterString>ISO
        19115-2 Geographic Information - Metadata Part 2 Extensions for imagery and
        gridded data</gco:CharacterString>\n   </gmd:metadataStandardName>\n   <gmd:metadataStandardVersion>\n
        \     <gco:CharacterString>ISO 19115-2:2009(E)</gco:CharacterString>\n   </gmd:metadataStandardVersion>\n
        \  <gmd:referenceSystemInfo>\n      <gmd:MD_ReferenceSystem>\n         <gmd:referenceSystemIdentifier>\n
        \           <gmd:RS_Identifier>\n               <gmd:code>\n                  <gco:CharacterString>CARTESIAN</gco:CharacterString>\n
        \              </gmd:code>\n            </gmd:RS_Identifier>\n         </gmd:referenceSystemIdentifier>\n
        \     </gmd:MD_ReferenceSystem>\n   </gmd:referenceSystemInfo>\n   <gmd:identificationInfo>\n
        \     <gmd:MD_DataIdentification>\n         <gmd:citation>\n            <gmd:CI_Citation>\n
        \              <gmd:title>\n                  <gco:CharacterString>aces1cont
        &gt; ACES CONTINUOUS DATA</gco:CharacterString>\n               </gmd:title>\n
        \              <gmd:date>\n                  <gmd:CI_Date>\n                     <gmd:date>\n
        \                       <gco:DateTime>2016-06-07T16:03:15.000Z</gco:DateTime>\n
        \                    </gmd:date>\n                     <gmd:dateType>\n                        <gmd:CI_DateTypeCode
        codeList=\"http://www.ngdc.noaa.gov/metadata/published/xsd/schema/resources/Codelist/gmxCodelists.xml#CI_DateTypeCode\"\n
        \                                            codeListValue=\"revision\">revision</gmd:CI_DateTypeCode>\n
        \                    </gmd:dateType>\n                  </gmd:CI_Date>\n               </gmd:date>\n
        \              <gmd:date>\n                  <gmd:CI_Date>\n                     <gmd:date>\n
        \                       <gco:DateTime>2004-05-04T00:00:00.000Z</gco:DateTime>\n
        \                    </gmd:date>\n                     <gmd:dateType>\n                        <gmd:CI_DateTypeCode
        codeList=\"http://www.ngdc.noaa.gov/metadata/published/xsd/schema/resources/Codelist/gmxCodelists.xml#CI_DateTypeCode\"\n
        \                                            codeListValue=\"creation\">creation</gmd:CI_DateTypeCode>\n
        \                    </gmd:dateType>\n                  </gmd:CI_Date>\n               </gmd:date>\n
        \              <gmd:edition>\n                  <gco:CharacterString>1</gco:CharacterString>\n
        \              </gmd:edition>\n               <gmd:identifier>\n                  <gmd:MD_Identifier>\n
        \                    <gmd:code>\n                        <gco:CharacterString>aces1cont</gco:CharacterString>\n
        \                    </gmd:code>\n                     <gmd:description>\n
        \                       <gco:CharacterString>ACES CONTINUOUS DATA</gco:CharacterString>\n
        \                    </gmd:description>\n                  </gmd:MD_Identifier>\n
        \              </gmd:identifier>\n               <gmd:identifier>\n                  <gmd:MD_Identifier>\n
        \                    <gmd:code>\n                        <gco:CharacterString>aces1cont</gco:CharacterString>\n
        \                    </gmd:code>\n                     <gmd:codeSpace>\n                        <gco:CharacterString>gov.nasa.gcmd</gco:CharacterString>\n
        \                    </gmd:codeSpace>\n                     <gmd:description>\n
        \                       <gco:CharacterString>DIFEntryId</gco:CharacterString>\n
        \                    </gmd:description>\n                  </gmd:MD_Identifier>\n
        \              </gmd:identifier>\n               <gmd:otherCitationDetails>\n
        \                 <gco:CharacterString/>\n               </gmd:otherCitationDetails>\n
        \           </gmd:CI_Citation>\n         </gmd:citation>\n         <gmd:abstract>\n
        \           <gco:CharacterString>The ALTUS Cloud Electrification Study (ACES)
        was based at the Naval Air Facility Key West in Florida. During August, 2002,
        ACES researchers conducted overflights of thunderstorms over the southwestern
        corner of Florida. For the first time in NASA research, an uninhabited aerial
        vehicle (UAV) named ALTUS was used to collect cloud electrification data.
        Carrying field mills, optical sensors, electric field sensors and other instruments,
        ALTUS allowed scientists to collect cloudelectrification data for the first
        time from above the storm, from its birth through dissipation. This experiment
        allowed scientists to achieve the dual goals of gathering weather data safely
        and testing new aircraft technology. This dataset consists of data collected
        from seven instruments: the Slow/Fast antenna, Electric Field Mill, Dual Optical
        Pulse Sensor, Searchcoil Magnetometer, Accelerometers, Gerdien Conductivity
        Probe, and the Fluxgate Magnetometer. Data consists of sensor reads at 50HZ
        throughout the flight from all 64 channels.</gco:CharacterString>\n         </gmd:abstract>\n
        \        <gmd:purpose gco:nilReason=\"missing\"/>\n         <gmd:pointOfContact>\n
        \           <gmd:CI_ResponsibleParty>\n               <gmd:organisationName>\n
        \                 <gco:CharacterString>NASA/MSFC/GHRC</gco:CharacterString>\n
        \              </gmd:organisationName>\n               <gmd:role>\n                  <gmd:CI_RoleCode
        codeList=\"http://www.ngdc.noaa.gov/metadata/published/xsd/schema/resources/Codelist/gmxCodelists.xml#CI_RoleCode\"\n
        \                                  codeListValue=\"pointOfContact\">pointOfContact</gmd:CI_RoleCode>\n
        \              </gmd:role>\n            </gmd:CI_ResponsibleParty>\n         </gmd:pointOfContact>\n
        \        <gmd:resourceFormat>\n            <gmd:MD_Format>\n               <gmd:name>\n
        \                 <gco:CharacterString>BINARY</gco:CharacterString>\n               </gmd:name>\n
        \              <gmd:version gco:nilReason=\"unknown\"/>\n            </gmd:MD_Format>\n
        \        </gmd:resourceFormat>\n         <gmd:descriptiveKeywords>\n            <gmd:MD_Keywords>\n
        \              <gmd:keyword>\n                  <gco:CharacterString>EARTH
        SCIENCE&gt;ATMOSPHERE&gt;ATMOSPHERIC ELECTRICITY&gt;ATMOSPHERIC CONDUCTIVITY&gt;NONE&gt;NONE&gt;NONE</gco:CharacterString>\n
        \              </gmd:keyword>\n               <gmd:keyword>\n                  <gco:CharacterString>EARTH
        SCIENCE&gt;ATMOSPHERE&gt;ATMOSPHERIC ELECTRICITY&gt;ELECTRIC FIELD&gt;NONE&gt;NONE&gt;NONE</gco:CharacterString>\n
        \              </gmd:keyword>\n               <gmd:keyword>\n              [...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections?include_tags=org.ceos.wgiss.cwic.granules.prod,org.geoss.geoss_data-core
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - cmr_csw
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/iso19115+xml; charset=utf-8
      Cmr-Hits:
      - '32205'
      Cmr-Took:
      - '48'
      Cmr-Request-Id:
      - e5f0c882-95b2[...]
