---
http_interactions:
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections?include_tags=org.ceos.wgiss.cwic.granules.prod,org.geoss.geoss_data-core&keyword=MODIS
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - cmr_csw
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/iso19115+xml; charset=utf-8
      Cmr-Hits:
      - '1014'
      Cmr-Took:
      - '238'
      Cmr-Request-Id:
      - c9d55540-6520-4a79-b1a8-c01c05db1e55
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><results><hits>1014</hits><took>228</took><result
        concept-id=\"C1235314678-ORNL_DAAC\" revision-id=\"1\" format=\"application/iso19115+xml\">\n<gmi:MI_Metadata
        xmlns:gmi=\"http://www.isotc211.org/2005/gmi\"\n                 xmlns:gco=\"http://www.isotc211.org/2005/gco\"\n
        \                xmlns:gmd=\"http://www.isotc211.org/2005/gmd\"\n                 xmlns:gmx=\"http://www.isotc211.org/2005/gmx\"\n
        \                xmlns:gsr=\"http://www.isotc211.org/2005/gsr\"\n                 xmlns:gss=\"http://www.isotc211.org/2005/gss\"\n
        \                xmlns:gts=\"http://www.isotc211.org/2005/gts\"\n                 xmlns:srv=\"http://www.isotc211.org/2005/srv\"\n
        \                xmlns:gml=\"http://www.opengis.net/gml/3.2\"\n                 xmlns:xlink=\"http://www.w3.org/1999/xlink\"\n
        \                xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\n
        \                xmlns:swe=\"http://schemas.opengis.net/sweCommon/2.0/\"\n
        \                xmlns:eos=\"http://earthdata.nasa.gov/schema/eos\"\n                 xmlns:xs=\"http://www.w3.org/2001/XMLSchema\"><!--Other
        Properties, all:0, coi:0,ii:0,si:0,pli:0,pri:0,qi:0,gi:0,ci:0,dk:0,pcc:0,icc:0,scc:0-->\n
        \  <gmd:fileIdentifier>\n      <gco:CharacterString>gov.nasa.echo:MODIS NDVI
        Data, Smoothed and Gap-filled, for the Conterminous US: 2000-2014</gco:CharacterString>\n
        \  </gmd:fileIdentifier>\n   <gmd:language>\n      <gco:CharacterString>eng</gco:CharacterString>\n
        \  </gmd:language>\n   <gmd:characterSet>\n      <gmd:MD_CharacterSetCode
        codeList=\"http://www.ngdc.noaa.gov/metadata/published/xsd/schema/resources/Codelist/gmxCodelists.xml#MD_CharacterSetCode\"\n
        \                              codeListValue=\"utf8\">utf8</gmd:MD_CharacterSetCode>\n
        \  </gmd:characterSet>\n   <gmd:hierarchyLevel>\n      <gmd:MD_ScopeCode codeList=\"http://www.ngdc.noaa.gov/metadata/published/xsd/schema/resources/Codelist/gmxCodelists.xml#MD_ScopeCode\"\n
        \                       codeListValue=\"series\">series</gmd:MD_ScopeCode>\n
        \  </gmd:hierarchyLevel>\n   <gmd:contact>\n      <gmd:CI_ResponsibleParty>\n
        \        <gmd:organisationName>\n            <gco:CharacterString>ORNL_DAAC</gco:CharacterString>\n
        \        </gmd:organisationName>\n         <gmd:role>\n            <gmd:CI_RoleCode
        codeList=\"http://www.ngdc.noaa.gov/metadata/published/xsd/schema/resources/Codelist/gmxCodelists.xml#CI_RoleCode\"\n
        \                            codeListValue=\"pointOfContact\">pointOfContact</gmd:CI_RoleCode>\n
        \        </gmd:role>\n      </gmd:CI_ResponsibleParty>\n   </gmd:contact>\n
        \  <gmd:dateStamp>\n      <gco:DateTime>2016-04-13T00:00:00Z</gco:DateTime>\n
        \  </gmd:dateStamp>\n   <gmd:metadataStandardName>\n      <gco:CharacterString>ISO
        19115-2 Geographic Information - Metadata Part 2 Extensions for imagery and
        gridded data</gco:CharacterString>\n   </gmd:metadataStandardName>\n   <gmd:metadataStandardVersion>\n
        \     <gco:CharacterString>ISO 19115-2:2009(E)</gco:CharacterString>\n   </gmd:metadataStandardVersion>\n
        \  <gmd:referenceSystemInfo>\n      <gmd:MD_ReferenceSystem>\n         <gmd:referenceSystemIdentifier>\n
        \           <gmd:RS_Identifier>\n               <gmd:code>\n                  <gco:CharacterString>CARTESIAN</gco:CharacterString>\n
        \              </gmd:code>\n            </gmd:RS_Identifier>\n         </gmd:referenceSystemIdentifier>\n
        \     </gmd:MD_ReferenceSystem>\n   </gmd:referenceSystemInfo>\n   <gmd:identificationInfo>\n
        \     <gmd:MD_DataIdentification>\n         <gmd:citation>\n            <gmd:CI_Citation>\n
        \              <gmd:title>\n                  <gco:CharacterString>doi:10.3334/ORNLDAAC/1299
        &gt; MODIS NDVI Data, Smoothed and Gap-filled, for the Conterminous US: 2000-2014</gco:CharacterString>\n
        \              </gmd:title>\n               <gmd:date>\n                  <gmd:CI_Date>\n
        \                    <gmd:date>\n                        <gco:DateTime>2016-04-13T00:00:00Z</gco:DateTime>\n
        \                    </gmd:date>\n                     <gmd:dateType>\n                        <gmd:CI_DateTypeCode
        codeList=\"http://www.ngdc.noaa.gov/metadata/published/xsd/schema/resources/Codelist/gmxCodelists.xml#CI_DateTypeCode\"\n
        \                                            codeListValue=\"revision\">revision</gmd:CI_DateTypeCode>\n
        \                    </gmd:dateType>\n                  </gmd:CI_Date>\n               </gmd:date>\n
        \              <gmd:date>\n                  <gmd:CI_Date>\n                     <gmd:date>\n
        \                       <gco:DateTime>2016-04-13T00:00:00Z</gco:DateTime>\n
        \                    </gmd:date>\n                     <gmd:dateType>\n                        <gmd:CI_DateTypeCode
        codeList=\"http://www.ngdc.noaa.gov/metadata/published/xsd/schema/resources/Codelist/gmxCodelists.xml#CI_DateTypeCode\"\n
        \                                            codeListValue=\"creation\">creation</gmd:CI_DateTypeCode>\n
        \                    </gmd:dateType>\n                  </gmd:CI_Date>\n               </gmd:date>\n
        \              <gmd:edition>\n                  <gco:CharacterString>1</gco:CharacterString>\n
        \              </gmd:edition>\n               <gmd:identifier>\n                  <gmd:MD_Identifier>\n
        \                    <gmd:code>\n                        <gco:CharacterString>doi:10.3334/ORNLDAAC/1299</gco:CharacterString>\n
        \                    </gmd:code>\n                     <gmd:description>\n
        \                       <gco:CharacterString>MODIS NDVI Data, Smoothed and
        Gap-filled, for the Conterminous US: 2000-2014</gco:CharacterString>\n                     </gmd:description>\n
        \                 </gmd:MD_Identifier>\n               </gmd:identifier>\n
        \              <gmd:identifier>\n                  <gmd:MD_Identifier>\n                     <gmd:code>\n
        \                       <gco:CharacterString>US_MODIS_NDVI</gco:CharacterString>\n
        \                    </gmd:code>\n                     <gmd:codeSpace>\n                        <gco:CharacterString>gov.nasa.gcmd</gco:CharacterString>\n
        \                    </gmd:codeSpace>\n                     <gmd:description>\n
        \                       <gco:CharacterString>DIFEntryId</gco:CharacterString>\n
        \                    </gmd:description>\n                  </gmd:MD_Identifier>\n
        \              </gmd:identifier>\n               <gmd:otherCitationDetails>\n
        \                 <gco:CharacterString>Spruce, J.P., G.E. Gasser, and W.W.
        Hargrove. 2016. MODIS NDVI Data, Smoothed and Gap-filled, for the Conterminous
        US: 2000-2014. ORNL DAAC, Oak Ridge, Tennessee, USA. http://dx.doi.org/10.3334/ORNLDAAC/1299</gco:CharacterString>\n
        \              </gmd:otherCitationDetails>\n            </gmd:CI_Citation>\n
        \        </gmd:citation>\n         <gmd:abstract>\n            <gco:CharacterString>This
        data set provides Moderate Resolution Imaging Spectroradiometer (MODIS) normalized
        difference vegetation index (NDVI) data, smoothed and gap-filled, for the
        conterminous US for the period 2000-01-01 through 2014-12-31. The data were
        generated using the NASA Stennis Time Series Product Tool (TSPT) to generate
        NDVI data streams from the Terra satellite (MODIS MOD13Q1 product) and Aqua
        satellite (MODIS MYD13Q1 product)  instruments.  TSPT produces NDVI data that
        are less affected by clouds and bad pixels.</gco:CharacterString>\n         </gmd:abstract>\n
        \        <gmd:purpose gco:nilReason=\"missing\"/>\n         <gmd:status>\n
        \           <gmd:MD_ProgressCode codeList=\"http://www.ngdc.noaa.gov/metadata/published/xsd/schema/resources/Codelist/gmxCodelists.xml#MD_ProgressCode\"\n
        \                                codeListValue=\"COMPLETED\">COMPLETED</gmd:MD_ProgressCode>\n
        \        </gmd:status>\n         <gmd:pointOfContact>\n            <gmd:CI_ResponsibleParty>\n
        \              <gmd:organisationName>\n                  <gco:CharacterString>ORNL_DAAC</gco:CharacterString>\n
        \              </gmd:organisationName>\n               <gmd:role>\n                  <gmd:CI_RoleCode
        codeList=\"http://www.ngdc.noaa.gov/metadata/published/xsd/schema/resources/Codelist/gmxCodelists.xml#CI_RoleCode\"\n
        \                                  codeListValue=\"pointOfContact\">pointOfContact</gmd:CI_RoleCode>\n
        \              </gmd:role>\n            </gmd:CI_ResponsibleParty>\n         </gmd:pointOfContact>\n
        \        <gmd:resourceMaintenance>\n            <gmd:MD_MaintenanceInformation>\n
        \              <gmd:maintenanceAndUpdateFrequency>\n                  <gmd:MD_MaintenanceFrequencyCode
        codeList=\"http://www.ngdc.noaa.gov/metadata/published/xsd/schema/resources/Codelist/gmxCodelists.xml#MD_MaintenanceFrequencyCode\"\n
        \                                                  codeListValue=\"as needed\">as
        needed</gmd:MD_MaintenanceFrequencyCode>\n               </gmd:maintenanceAndUpdateFrequency>\n
        \           </gmd:MD_MaintenanceInformation>\n         </gmd:resourceMaintenance>\n
        \        <gmd:descriptiveKeywords>\n            <gmd:MD_Keywords>\n               <gmd:keyword>\n
        \                 <gco:CharacterString>EARTH SCIENCE&gt;BIOSPHERE&gt;VEGETATION&gt;PLANT
        PHENOLOGY&gt;NONE&gt;NONE&gt;NONE</gco:CharacterString>\n               </gmd:keyword>\n
        \              <gmd:keyword>\n                  <gco:CharacterString>EARTH
        SCIENCE&gt;BIOSPHERE&gt;VEGETATION&gt;VEGETATION INDEX&gt;NONE&gt;NONE&gt;NONE</gco:CharacterString>\n
        \              </gmd:keyword>\n               <gmd:type>\n                  <gmd:MD_KeywordTypeCode
        codeList=\"http://www.ngdc.noaa.gov/metadata/published/xsd/schema/resources/Codelist/gmxCodelists.xml#MD_KeywordTypeCode\"\n
        \                                         codeListValue=\"theme\">theme</gmd:MD_KeywordTypeCode>\n
        \              </gmd:type>\n               <gmd:thesaurusName>\n                  <gmd:CI_Citation>\n
        \                    <gmd:title>\n                        <gco:CharacterString>NASA/GCMD
        Science Keywords</gco:CharacterString>\n                     </gmd:title>\n
        \                    <gmd:date gco:nilReason=\"unknown\"/>\n                     <gmd:citedResponsibleParty>\n
        \                       <gmd:CI_ResponsibleParty>\n                           <gmd:organisationName>\n
        \                             <gco:CharacterString>NASA</gco:CharacterString>\n
        \                          </gmd:organisationName>\n                           <gmd:positionName>\n
        \                             <gco:CharacterString>GCMD User Support Office</gco:CharacterString>\n
        \                          </gmd:positionName>\n                           <gmd:contactInfo>\n
        \                             <gmd:CI_Contact>\n                                 <gmd:address>\n
        \                                   <gmd:CI_Address>\n                                       <gmd:electronicMailAddress>\n
        \                                         <gco:CharacterString>gcmduso@gcmd.gsfc.nasa.gov</gco:CharacterString>\n
        \                                      </gmd:electronicMailAddress>\n                                    </gmd:CI_Address>\n
        \                                </gmd:address>\n                                 <gmd:onlineResource>\n
        \                                   <gmd:CI_OnlineResource>\n                                       <gmd:linkage>\n
        \                                         <gmd:URL>http://gcmd.nasa.gov/MailComments/MailComments.jsf?rcpt=gcmduso</gmd:URL>\n
        \                                      </gmd:linkage>\n                                       <gmd:name>\n
        \                                         <gco:CharacterString>GCMD Feedback
        Form</gco:CharacterString>\n                                       </gmd:name>\n
        \                                      <gmd:description>\n                                          <gco:CharacterString>Have
        a Comment for the GCMD?</gco:CharacterString>\n                                       </gmd:description>\n
        \                                      <gmd:function>\n                                          <gmd:CI_OnLineFunctionCode
        codeList=\"http://www.ngdc.noaa.gov/metadata/published/xsd/schema/resources/Codelist/gmxCodelists.xml#CI_OnLineFunctionCode\"\n
        \                                                                    codeListValue=\"information\">information</gmd:CI_OnLineFunctionCode>\n
        \                                      </gmd:function>\n                                    </gmd:CI_OnlineResource>\n
        \                                </gmd:onlineResource>\n                              </gmd:CI_Contact>\n
        \                          </gmd:contactInfo>\n                           <gmd:role>\n
        \                             <gmd:CI_RoleCode codeList=\"http://www.ngdc.noaa.gov/metadata/published/xsd/schema/resources/Codelist/gmxCodelists.xml#CI_RoleCode\"\n
        \                                              codeListValue=\"custodian\">custodian</gmd:CI_RoleCode>\n
        \                          </gmd:role>\n                        </gmd:CI_ResponsibleParty>\n
        \                    </gmd:citedResponsibleParty>\n                     <gmd:citedResponsibleParty>\n
        \                       <gmd:CI_ResponsibleParty>\n                           <gmd:organisationName
        gco:nilReason=\"inapplicable\"/>\n                           <gmd:contactInfo>\n
        \                             <gmd:CI_Contact>\n                                 <gmd:onlineResource
        xlink:title=\"GCMD Keyword Page\">\n                                    <gmd:CI_OnlineResource>\n
        \                                      <gmd:linkage>\n                                          <gmd:URL>http://gcmd.nasa.gov/Resources/valids/</gmd:URL>\n
        \                                      </gmd:linkage>\n                                       <gmd:name>\n
        \                                         <gco:CharacterString>GCMD Keywords
        Page</gco:CharacterString>\n        [...]
