---
http_interactions:
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections?include_tags=org.ceos.wgiss.cwic.granules.prod,org.geoss.geoss_data-core&offset=2&page_size=13
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - cmr_csw
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/iso19115+xml; charset=utf-8
      Cmr-Hits:
      - '36528'
      Cmr-Took:
      - '61'
      Cmr-Request-Id:
      - 0d32eb2c-44cc-4391-aa5a-aaf932f70f68
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><results><hits>36528</hits><took>58</took><result
        concept-id=\"C1204531810-GCMDTEST\" revision-id=\"1\" format=\"application/iso19115+xml\"><gmi:MI_Metadata
        xmlns:xs=\"http://www.w3.org/2001/XMLSchema\" xmlns:gmx=\"http://www.isotc211.org/2005/gmx\"
        xmlns:gss=\"http://www.isotc211.org/2005/gss\" xmlns:gco=\"http://www.isotc211.org/2005/gco\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:gmd=\"http://www.isotc211.org/2005/gmd\"
        xmlns:gmi=\"http://www.isotc211.org/2005/gmi\" xmlns:gml=\"http://www.opengis.net/gml/3.2\"
        xmlns:xlink=\"http://www.w3.org/1999/xlink\" xmlns:eos=\"http://earthdata.nasa.gov/schema/eos\"
        xmlns:srv=\"http://www.isotc211.org/2005/srv\" xmlns:gts=\"http://www.isotc211.org/2005/gts\"
        xmlns:swe=\"http://schemas.opengis.net/sweCommon/2.0/\" xmlns:gsr=\"http://www.isotc211.org/2005/gsr\"><gmd:fileIdentifier><gco:CharacterString>
        \          Bow Drill3 CAN-AM Data for Various Drilling Locations off the Canadian
        East Coast         </gco:CharacterString></gmd:fileIdentifier><gmd:language><gco:CharacterString></gco:CharacterString></gmd:language><gmd:characterSet><gmd:MD_CharacterSetCode
        codeList=\"http://www.ngdc.noaa.gov/metadata/published/xsd/schema/resources/Codelist/gmxCodelists.xml#MD_CharacterSetCode\"
        codeListValue=\"utf8\">utf8</gmd:MD_CharacterSetCode></gmd:characterSet><gmd:hierarchyLevel><gmd:MD_ScopeCode
        codeList=\"http://www.ngdc.noaa.gov/metadata/published/xsd/schema/resources/Codelist/gmxCodelists.xml#MD_ScopeCode\"
        codeListValue=\"series\">series</gmd:MD_ScopeCode></gmd:hierarchyLevel><gmd:contact
        gco:nilReason=\"missing\"></gmd:contact><gmd:dateStamp><gco:DateTime>2015-09-22T00:00:00.000Z</gco:DateTime></gmd:dateStamp><gmd:metadataStandardName><gco:CharacterString>ISO
        19115-2 Geographic Information - Metadata Part 2 Extensions for imagery and
        gridded data</gco:CharacterString></gmd:metadataStandardName><gmd:metadataStandardVersion><gco:CharacterString>ISO
        19115-2:2009(E)</gco:CharacterString></gmd:metadataStandardVersion><gmd:referenceSystemInfo><gmd:MD_ReferenceSystem><gmd:referenceSystemIdentifier><gmd:RS_Identifier><gmd:code><gco:CharacterString>CARTESIAN</gco:CharacterString></gmd:code></gmd:RS_Identifier></gmd:referenceSystemIdentifier></gmd:MD_ReferenceSystem></gmd:referenceSystemInfo><gmd:identificationInfo><gmd:MD_DataIdentification><gmd:citation><gmd:CI_Citation><gmd:title><gco:CharacterString>CANEMRCCRSCAN-AM
        &gt;            Bow Drill3 CAN-AM Data for Various Drilling Locations off
        the Canadian East Coast         </gco:CharacterString></gmd:title><gmd:date><gmd:CI_Date><gmd:date><gco:DateTime>2001-07-26T00:00:00.000Z</gco:DateTime></gmd:date><gmd:dateType><gmd:CI_DateTypeCode
        codeList=\"http://www.ngdc.noaa.gov/metadata/published/xsd/schema/resources/Codelist/gmxCodelists.xml#CI_DateTypeCode\"
        codeListValue=\"creation\">creation</gmd:CI_DateTypeCode></gmd:dateType></gmd:CI_Date></gmd:date><gmd:edition><gco:CharacterString>Not
        provided</gco:CharacterString></gmd:edition><gmd:identifier><gmd:MD_Identifier><gmd:code><gco:CharacterString>CANEMRCCRSCAN-AM</gco:CharacterString></gmd:code><gmd:description><gco:CharacterString>
        \          Bow Drill3 CAN-AM Data for Various Drilling Locations off the Canadian
        East Coast         </gco:CharacterString></gmd:description></gmd:MD_Identifier></gmd:identifier></gmd:CI_Citation></gmd:citation><gmd:abstract><gco:CharacterString>This
        data set contains CAN-AM environmental monitoring network\ninformation for
        various drilling locations off the Canadian East Coast. Normal\nand intensive
        synoptic mode observations include wind, air temperature and\nbarometric pressure,
        sea temperature, wave height, and rig heading and rig\nheave, pitch and roll
        for the years 1984 to 1987.\n\nSpatial Data Organization Information -\n\n
        \   Indirect Spatial Reference:\n    Direct Spatial Reference: Point (Lat./Long.
        Coordinates)\nSpatial Reference Information -\nHorizontal Coordinate System
        Definition -\nPlanar -\n\n\n\n\n    Planar Coordinate Encoding Method:\n    Coordinate
        Representation:\n     Abscissa Resolution:\n     Ordinate Resolution:\n    Distance
        and Bearing Representation:\n     Distance Resolution:\n     Bearing Resolution:\n
        \    Bearing Units:\n     Bearing Reference Direction:\n     Bearing Reference
        Meridian:\n    Planar Distance Units:\n\n   Geodetic Model:\n     Horizontal
        Datum Name:\n    Ellipsoid Name:\n    Semi-major Axis:\n    Denominator of
        Flattening Ratio:</gco:CharacterString></gmd:abstract><gmd:purpose gco:nilReason=\"missing\"></gmd:purpose><gmd:descriptiveKeywords><gmd:MD_Keywords><gmd:keyword><gco:CharacterString>EARTH
        SCIENCE&gt;ATMOSPHERE&gt;ATMOSPHERIC PRESSURE&gt;SURFACE PRESSURE&gt;NONE&gt;NONE&gt;NONE</gco:CharacterString></gmd:keyword><gmd:keyword><gco:CharacterString>EARTH
        SCIENCE&gt;ATMOSPHERE&gt;ATMOSPHERIC TEMPERATURE&gt;SURFACE TEMPERATURE&gt;NONE&gt;NONE&gt;NONE</gco:CharacterString></gmd:keyword><gmd:keyword><gco:CharacterString>EARTH
        SCIENCE&gt;ATMOSPHERE&gt;ATMOSPHERIC WATER VAPOR&gt;HUMIDITY&gt;NONE&gt;NONE&gt;NONE</gco:CharacterString></gmd:k[...]
