---
http_interactions:
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections?concept_id%5B%5D=C1214622565-ISRO&include_tags=org.ceos.wgiss.cwic.granules.prod,org.geoss.geoss_data-core
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - cmr_csw
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/iso19115+xml; charset=utf-8
      Cmr-Hits:
      - '1'
      Cmr-Took:
      - '28'
      Cmr-Request-Id:
      - deff6d11-5d8f-4b14-898f-72a9e057104c
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <results>
        	<hits>1</hits>
        	<took>27</took>
        	<result concept-id="C1214622565-ISRO" revision-id="1" format="application/iso19115+xml">
        		<gmi:MI_Metadata xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:gmx="http://www.isotc211.org/2005/gmx" xmlns:gss="http://www.isotc211.org/2005/gss" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gmi="http://www.isotc211.org/2005/gmi" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:eos="http://earthdata.nasa.gov/schema/eos" xmlns:srv="http://www.isotc211.org/2005/srv" xmlns:gts="http://www.isotc211.org/2005/gts" xmlns:swe="http://schemas.opengis.net/sweCommon/2.0/" xmlns:gsr="http://www.isotc211.org/2005/gsr">
        			<gmd:fileIdentifier>
        				<gco:CharacterString>INSAT-3D Imager Level-2B Sea Surface Temperature</gco:CharacterString>
        			</gmd:fileIdentifier>
        			<gmd:language>
        				<gco:CharacterString>Urdu</gco:CharacterString>
        			</gmd:language>
        			<gmd:characterSet>
        				<gmd:MD_CharacterSetCode codeList="http://www.ngdc.noaa.gov/metadata/published/xsd/schema/resources/Codelist/gmxCodelists.xml#MD_CharacterSetCode" codeListValue="utf8">utf8</gmd:MD_CharacterSetCode>
        			</gmd:characterSet>
        			<gmd:hierarchyLevel>
        				<gmd:MD_ScopeCode codeList="http://www.ngdc.noaa.gov/metadata/published/xsd/schema/resources/Codelist/gmxCodelists.xml#MD_ScopeCode" codeListValue="series">series</gmd:MD_ScopeCode>
        			</gmd:hierarchyLevel>
        			<gmd:contact gco:nilReason="missing"/>
        			<gmd:dateStamp>
        				<gco:DateTime>2015-12-03T00:00:00.000Z</gco:DateTime>
        			</gmd:dateStamp>
        			<gmd:metadataStandardName>
        				<gco:CharacterString>ISO 19115-2 Geographic Information - Metadata Part 2 Extensions for imagery and gridded data</gco:CharacterString>
        			</gmd:metadataStandardName>
        			<gmd:metadataStandardVersion>
        				<gco:CharacterString>ISO 19115-2:2009(E)</gco:CharacterString>
        			</gmd:metadataStandardVersion>
        			<gmd:referenceSystemInfo>
        				<gmd:MD_ReferenceSystem>
        					<gmd:referenceSystemIdentifier>
        						<gmd:RS_Identifier>
        							<gmd:code>
        								<gco:CharacterString>CARTESIAN</gco:CharacterString>
        							</gmd:code>
        						</gmd:RS_Identifier>
        					</gmd:referenceSystemIdentifier>
        				</gmd:MD_ReferenceSystem>
        			</gmd:referenceSystemInfo>
        			<gmd:identificationInfo>
        				<gmd:MD_DataIdentification>
        					<gmd:citation>
        						<gmd:CI_Citation>
        							<gmd:title>
        								<gco:CharacterString>3DIMG_L2B_SST &gt; INSAT-3D Imager Level-2B Sea Surface Temperature</gco:CharacterString>
        							</gmd:title>
        							<gmd:date>
        								<gmd:CI_Date>
        									<gmd:date>
        										<gco:DateTime>2014-07-22T00:00:00.000Z</gco:DateTime>
        									</gmd:date>
        									<gmd:dateType>
        										<gmd:CI_DateTypeCode codeList="http://www.ngdc.noaa.gov/metadata/published/xsd/schema/resources/Codelist/gmxCodelists.xml#CI_DateTypeCode" codeListValue="creation">creation</gmd:CI_DateTypeCode>
        									</gmd:dateType>
        								</gmd:CI_Date>
        							</gmd:date>
        							<gmd:edition>
        								<gco:CharacterString>Not provided</gco:CharacterString>
        							</gmd:edition>
        							<gmd:identifier>
        								<gmd:MD_Identifier>
        									<gmd:code>
        										<gco:CharacterString>3DIMG_L2B_SST</gco:CharacterString>
        									</gmd:code>
        									<gmd:description>
        										<gco:CharacterString>INSAT-3D Imager Level-2B Sea Surface Temperature</gco:CharacterString>
        									</gmd:description>
        								</gmd:MD_Identifier>
        							</gmd:identifier>
        						</gmd:CI_Citation>
        					</gmd:citation>
        					<gmd:abstract>
        						<gco:CharacterString>INSAT-3D Imager Level-2B Sea Surface Temperature in HDF-5 Format</gco:CharacterString>
        					</gmd:abstract>
                            <gmd:resourceConstraints>
                              <gmd:MD_LegalConstraints>
                                <gmd:accessConstraints>
                                  <gmd:MD_RestrictionCode codeList="http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#MD_RestrictionCode" codeListValue="otherRestrictions">otherRestrictions</gmd:MD_RestrictionCode>
                                </gmd:accessConstraints>
                              </gmd:MD_LegalConstraints>
                            </gmd:resourceConstraints>
        					<gmd:purpose>
        						<gco:CharacterString>Sea surface temperature is derived from split thermal window channels (TIR1, TIR2) during daytime
              and using additional mid IR window channel (MIR) during nighttime over cloud free oceanic regions.
              The most important part of the SST retrieval from IR observations is the atmospheric correction,
              especially over tropics.</gco:CharacterString>
        					</gmd:purpose>
        					<gmd:descriptiveKeywords>
        						<gmd:MD_Keywords>
        							<gmd:keyword>
        								<gco:CharacterString>EARTH SCIENCE&gt;OCEANS&gt;OCEAN TEMPERATURE&gt;SEA SURFACE TEMPERATURE&gt;NONE&gt;NONE&gt;NONE</gco:CharacterString>
        							</gmd:keyword>
        							<gmd:type>
        								<gmd:MD_KeywordTypeCode codeList="http://www.ngdc.noaa.gov/metadata/published/xsd/schema/resources/Codelist/gmxCodelists.xml#MD_KeywordTypeCode" codeListValue="theme">theme</gmd:MD_KeywordTypeCode>
        							</gmd:type>
        						</gmd:MD_Keywords>
        					</gmd:descriptiveKeywords>
        					<gmd:descriptiveKeywords>
        						<gmd:MD_Keywords>
        							<gmd:keyword>
        								<gco:CharacterString>30min</gco:CharacterString>
        							</gmd:keyword>
        							<gmd:type>
     [...]
