<section>
  <h2><a name="overview"></a>Overview</h2>
  <p>
    <a target="_blank" href="http://www.opengeospatial.org/standards/cat">Catalog Service for the Web (CSW)</a> is an
    OGC
    standard for exposing a catalogue of geospatial records in XML on the Internet (over HTTP).
  </p>
  <p>
    This implementation provides a CSW API over NASA EOSDIS'
    <a target="_blank" href="https:cmr.earthdata.nasa.gov">Common Metadata Repository (CMR)</a> earth data discovery
    API.
  </p>
  <h1>Supported end points</h1>
  <p>CMR CSW supports HTTP protocol binding as per section 10.2 of the
    <a target="_blank" href="http://www.opengeospatial.org/standards/cat">OpenGIS® Catalogue Services Specification
      version 2.0.2</a></p>
</section>
<section class="endpoints">
  <h2><a href="/csw/collections">Collections</a></h2>
</section>