---
http_interactions:
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 503
      message: Service Unavailable
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Cmr-Request-Id:
      - ac3cef13-eca1-4085-8300-8dcb56835a2a
    body:
      encoding: UTF-8
      string: '{"echo":{"ok?":true},"internal-metadata-db":{"ok?":true,"dependencies":{"oracle":{"ok?":true},"echo":{"ok?":true}}},"index-set":{"ok?":true,"dependencies":{"elastic_search":{"ok?":true},"echo":{"ok?":true}}}}'
  recorded_at: Tue, 01 Mar 2016 20:51:21 GMT
recorded_with: VCR 3.0.1
