---
http_interactions:
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Cmr-Request-Id:
      - ff171423-9fc5-46f6-a972-2b621bee1473
    body:
      encoding: UTF-8
      string: '{"echo":{"ok?":true},"internal-metadata-db":{"ok?":false,"dependencies":{"oracle":{"ok?":true},"echo":{"ok?":true}}},"index-set":{"ok?":true,"dependencies":{"elastic_search":{"ok?":true},"echo":{"ok?":true}}}}'
  recorded_at: Tue, 01 Mar 2016 20:51:20 GMT
recorded_with: VCR 3.0.1
